<div class="mt-3 ml-3">
  <div class="card card-default" style="width: 100rem">
    <div class="card-header">
      <h3 class="card-title">
        <b>Developer Time Track</b>
      </h3>
    </div>

    <div class="card-body">
      <button
        type="button"
        class="btn btn-danger add"
        data-toggle="modal"
        data-target="#developerModal"
      >
        Add Time
      </button>
      <table class="table mt-3">
        <thead class="thead-dark">
          <tr>
            <th scope="call" style="width: 0.2rem">Work Title</th>
            <th scope="call" style="width: 0.5rem">Monday</th>
            <th scope="call" style="width: 0.5rem">Tueday</th>
            <th scope="call" style="width: 0.5rem">Wednesday</th>
            <th scope="call" style="width: 0.5rem">Thursday</th>
            <th scope="call" style="width: 0.5rem">Friday</th>
            <th scope="call" style="width: 0.5rem">Saturday</th>
            <th scope="call" style="width: 0.5rem">Sunday</th>
            <th scope="call" style="width: 0.5rem">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cardList; let i = index">
            <th scope="row">{{ item.name }}</th>
            <td scope="row">
              <input
                type="number"
                (change)="totalHours(item, i)"
                [(ngModel)]="cardList[i].date1"
              />
            </td>
            <td scope="row">
              <input
                [(ngModel)]="cardList[i].date2"
                (change)="totalHours(item, i)"
                type="number"
              />
            </td>
            <td scope="row">
              <input
                [(ngModel)]="cardList[i].date3"
                (change)="totalHours(item, i)"
                type="number"
              />
            </td>
            <td scope="row">
              <input
                [(ngModel)]="cardList[i].date4"
                (change)="totalHours(item, i)"
                type="number"
              />
            </td>
            <td scope="row">
              <input
                [(ngModel)]="cardList[i].date5"
                (change)="totalHours(item, i)"
                type="number"
              />
            </td>
            <td scope="row">
              <input
                [(ngModel)]="cardList[i].date6"
                (change)="totalHours(item, i)"
                type="number"
              />
            </td>
            <td scope="row">
              <input
                [(ngModel)]="cardList[i].date7"
                (change)="totalHours(item, i)"
                type="number"
              />
            </td>
            <td scope="row">
              <input
                style="width: 150%"
                disabled
                type="number"
                (change)="totalHours(item, i)"
                [(ngModel)]="cardList[i].total"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="developerModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Time</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Working Hours</label>
            <input type="number" class="form-control" />
          </div>

          <div class="form-group mt-3">
            <label>Date</label>
            <input type="date" class="form-control" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
